.card {
    background: blue;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    margin: auto
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card h3 {
    margin-bottom: 10px;
  }
  
  .card p {
    color: #666;
  }