@font-face {
    font-family: 'arial';
    src: url('../../fonts/Ariel\ Script.ttf') format('true type');
}
.main-menu *{
    box-sizing: border-box;
    font-family: 'arial';
}
.main-menu .menu-container {
    width: 100%;
    padding: 0 50px !important;
}
.main-menu {
    background: #242527 !important;
}
.main-menu .navbrand {
    color: white;
    min-width: 100px;
}
.main-menu .toggle-btn {
    color: white;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 25px;
}
/* .main-menu .nav-toggle {
    color: white;
    background: transparent url('../../pictures/menu.svg')  center/1em auto no-repeat !important;
    padding: 1px 3px;
    border-radius: 4px;
} */
.main-menu .navbar-nav .nav-link {
    color: white;
    margin-bottom: 8px;
    padding: 8px 15px !important;
    border-radius: 5px;
}
.main-menu .navbar-nav .nav-link:hover {
    background: #0364F1 !important;
}
.main-menu .navbar-nav .nav-link:focus {
    background: #0351c7 !important;
    color: white;
}
.navbar-nav .nav-link:focus {
    background: #0351c7 !important;
    color: white;
}
.main-menu .nav-div {
    display: flex;
    align-items: center;
}
.nav-div {
    display: block;
}
.navbar-nav .nav-link {
    display: flex;
    align-items: center;
    color: white;
    margin: 0 5px 8px;
    padding: 5px 15px !important;
    border-radius: 5px;
}
.navbar-nav .nav-link:hover {
    background: #0364F1 !important;
}
.main-menu .navbar-nav {
    margin-left: 15px;
}
.main-menu .link a {
    
}
.navbar-nav .dropdown-menu {
    margin-left: 8px;
    background: #242527;
    /* box-shadow: 0px 3px 8px #454545; */
    border: 1px solid #464646
}
.dropdown-item {
    color: white;
    border-radius: 5px;
}
.dropdown-item:hover {
    background: #0364F1 !important;
    color: white;
}
.navbar-nav .nav-link.active {
    color: white;
}
/* .btn-close {
    background: transparent url('../../pictures/close-btn.svg')  center/1em auto no-repeat;
} */
.btn-si {
    color: white;
    text-decoration: none;
    padding: 7px 15px !important;
    background: #0364F1;
    border-radius: 5px;
    height: 38px;
    width: 125px;
    text-align: center;
    cursor: pointer;
}
.btn-si:hover {
    background: #0054d2;
    color: white;
}
.btn-su {
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 7px 15px !important;
    border: 1px solid #0364F1;
    border-radius: 5px;
    margin-left: 8px;
    height: 38px;
    width: 125px;
    text-align: center;
    cursor: pointer;
}
.btn-su:hover {
    border: 1px solid #0054d2;
    color: white;
}
.btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0px;
}

/* .main-menu {
    
    height: 60px;
}
.main-menu .left {
    display: flex;
    align-items: center;
}
.main-menu .left .menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    min-height: 60px;
}
.main-menu .left .menu > li {
    list-style: none;
    margin-left: 15px;
    min-width: 125px;
    position: relative;
}
.main-menu .left .menu > li span {
    color: white;
    font-size: 18px;
    border-radius: 50px !important;
    padding: 7px 35px;
}
.main-menu .left .menu > li:hover > span {
    border: 1px solid #fff;
    padding: 7px 35px;
}
.main-menu .left .menu > li:hover > ul {
    display: block;
}
.main-menu .left .menu li ul {
    position: absolute;
    display: none;
    top: 100%;
}
.main-menu .left .menu li ul li {
    list-style: none;
}
.main-menu .icon {
    
}
.main-menu .link-name {
    
} */