font-face {
    font-family: 'arial';
    src: url('../../fonts/Ariel\ Script.ttf') format('true type');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'arial';
}
.team-table-container {
    width: 100%;
    min-height: 100vh !important;
    background: rgb(23,23,26);
}
.team-table {
    padding: 15px;
    color: rgb(200, 199, 199);
}
.team-table .title {
    margin-top: 20px;
    background-color: none;
    color: rgb(200, 199, 199);
    font-size: 24px;
    font-weight: bold;
}

.team-table .tablestyle {
    width: 100%;
    margin-top: 30px;
}
.team-table .thstyle {
    color: rgb(200, 199, 199);
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding: 13px 30px;
    height: 50px;
}
.team-table .tdstyle {
    color: rgb(200, 199, 199);
    text-align: left;
    padding: 13px 30px;
} 
.team-table .btn-box {
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 8px;

}

.team-table .rm-btn{
    color: white;
    text-decoration: none;
    padding: 7px 15px !important;
    background: #BF1A2F;
    box-shadow: 0 3px 8px 0 #BF1A2F;
    border-radius: 5px;
    height: 38px;
    width: 110px;
    text-align: center;
    cursor: pointer;
}
.team-table .rm-btn:hover{
    background: #77101d;
    box-shadow: 0 3px 8px 0 #74101d;
}
.team-table .ad-btn{
    color: white;
    text-decoration: none;
    padding: 7px 15px !important;
    background: #57a334;
    box-shadow: 0 3px 8px 0 #57a334;
    border-radius: 5px;
    height: 38px;
    width: 165px;
    text-align: center;
    cursor: pointer;
}
.team-table .ad-btn:hover{
    background: #397020;
    box-shadow: 0 3px 8px 0 #397020;
}
.team-table .us-btn{
    color: white;
    text-decoration: none;
    padding: 7px 15px !important;
    background: #0364F1;
    box-shadow: 0 3px 8px 0 #0364F1;
    border-radius: 5px;
    height: 38px;
    width: 150px;
    text-align: center;
    cursor: pointer;
}
.team-table .us-btn:hover{
    background: #0054d2;
    box-shadow: 0 3px 8px 0 #0054d2;
}
